{% for product in products %}
<h1> hello</h1>
<div class="card" style="width: 18rem;">
  <img src="/frontend/static/css/mummy.jpg" alt=" hridaymom">
  <img class="card-img-top" src="/frontend/static/css/mummy.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ product.productname }}</h5>
    <p class="card-text">{{ product.description }}</p>
    <p class="card-text">Price - {{ product.price }}</p>
    <a href="#" class="btn btn-primary">Buy Now</a>
  </div>
</div>
{% endfor %}