<h1>Hello welcome to Ecomm</h1>

<h1> hello</h1>
<div class="card" style="width: 18rem;">
  <img src="ecom/frontend/static/css/mummy.jpg" alt="home" srcset="/frontend/static/css/mummy.jpg"><br>
  <img src="frontend/static/css/xyz.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ i.productname }}</h5>
    <p class="card-text">{{ product.description }}</p>
    <p class="card-text">Price - {{ product.price }}</p>
    <a href="#" class="btn btn-primary">Buy Now</a>
  </div>
</div>


